{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}


    <div class="container-fluid edit-profile">
        <br>

        <div class="row">
            <div class="col-2 edit-form">

                <h4>Modifier mon profil</h4>
                {{ include('participant/_form.html.twig', {'button_label': 'Modifier'}) }}
                <br>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            </div>
    </div>
        <br>
    </div>


{% endblock %}
