{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ include('participant/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
