{% extends 'base.html.twig' %}

{% block title %}S'évader{% endblock %}

{% block body %}

        {# DATE ET NOM A DROITE Y #}
        <br>

           <div class="badge-profile row">
               <div class="col-md-4">
                    <img class="profile-picture" src="{{ asset('assets/img/profile.png') }}" alt="">
               </div>
               <div class="col-md-4">
                   <p>Participant : Joel Mammène</p>
               </div>
               <div class="col-md-4">
                   <p>Date du jour : 15/03/1984</p>
               </div>
           </div>




       {# <div class="row row-infos">

                <div class="col-3 col-infos">
                        <img src="assets/img/profile.png" alt="">
                        <p>Participant : Joel Mammène</p>
                        <p>Date du jour : 15/03/1984</p>
                </div>
        </div>#}

        {# FIN DATE ET NOM A DROITE Y #}




        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda eos facilis iste omnis porro sequi
                temporibus vero vitae voluptatum. Ad consequuntur ex hic natus pariatur placeat porro repudiandae
                voluptatum?
        </div>
        <div>Ab, aliquid architecto asperiores blanditiis cum distinctio doloremque et eum harum impedit in maxime
                molestias non quod recusandae reiciendis repellendus reprehenderit sed temporibus unde ut veritatis,
                voluptates. In sapiente, voluptas.
        </div>
        <div>Consequatur libero minus nam necessitatibus nemo nobis sit vel? Dolore dolores ea harum molestias nam nulla
                quisquam. Commodi consectetur dicta ea harum, iste mollitia natus nulla numquam quas, reiciendis,
                veniam.
        </div>
        <div>Asperiores corporis dolore dolorum eaque, neque provident repellat. Dolor eos excepturi exercitationem hic
                ipsa nam, perspiciatis quas quidem quisquam repudiandae? Dolores earum esse et ipsum itaque nulla
                quaerat repellat ullam?
        </div>
        <div>Accusantium adipisci alias atque commodi dolores eaque, enim id iure modi nesciunt nobis porro provident
                quae quisquam quod quos velit. Aperiam blanditiis cum dignissimos eos, est excepturi maxime rem soluta?
        </div>
        <div>Blanditiis dolores earum enim eos explicabo incidunt minus natus nobis nostrum nulla officia praesentium
                quae quasi quisquam rem repudiandae saepe tempora temporibus totam unde vero voluptatem, voluptates!
                Excepturi quia, tempora?
        </div>
        <div>Autem commodi cum nulla quasi vero? Accusamus consectetur cumque deserunt dicta excepturi, fugiat labore
                molestiae nam nemo nostrum obcaecati officiis perferendis perspiciatis placeat quae sed similique
                tenetur unde voluptate voluptatem.
        </div>
        <div>Autem consectetur corporis, debitis dolores, doloribus, facere fugit illum perferendis quas quidem rem sed
                tenetur. Aspernatur at commodi hic laudantium, maiores mollitia obcaecati officia officiis quia sed
                similique temporibus, ut?
        </div>
        <div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div> <div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div> <div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div> <div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div><div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div><div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div>


{% endblock %}


