{% extends 'base.html.twig' %}

{% block title %}S'évader{% endblock %}

{% block body %}

        {# DATE ET NOM A DROITE Y #}
        <br>


    {% if is_granted ("ROLE_USER") or is_granted ("ROLE_ADMIN") %}
           <div class="badge-profile row">



               <div class="col-md-4">
                    <img class="profile-picture" src="{{ asset('assets/img/profile.png') }}" alt="">
               </div>

               <div class="col-md-4">
                   <p>Participant : {{ app.user.nom }}</p>
               </div>
               <div class="col-md-4">
                   <p>Date du jour : {{ "now"|date("m/d/Y") }}</p>
               </div>
           </div>
    {% endif %}




       {# <div class="row row-infos">

                <div class="col-3 col-infos">
                        <img src="assets/img/profile.png" alt="">
                        <p>Participant : Joel Mammène</p>
                        <p>Date du jour : 15/03/1984</p>
                </div>
        </div>#}

        {# FIN DATE ET NOM A DROITE Y #}

        <div>Blanditiis dolores earum enim eos explicabo incidunt minus natus nobis nostrum nulla officia praesentium
                quae quasi quisquam rem repudiandae saepe tempora temporibus totam unde vero voluptatem, voluptates!
                Excepturi quia, tempora?
        </div>
        <div>Autem commodi cum nulla quasi vero? Accusamus consectetur cumque deserunt dicta excepturi, fugiat labore
                molestiae nam nemo nostrum obcaecati officiis perferendis perspiciatis placeat quae sed similique
                tenetur unde voluptate voluptatem.
        </div>
        <div>Autem consectetur corporis, debitis dolores, doloribus, facere fugit illum perferendis quas quidem rem sed
                tenetur. Aspernatur at commodi hic laudantium, maiores mollitia obcaecati officia officiis quia sed
                similique temporibus, ut?
        </div>
        <div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div> <div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div> <div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div> <div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div><div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div><div>Aliquam aperiam exercitationem expedita ipsam nesciunt. Alias, animi asperiores deleniti doloremque et
                harum iusto laudantium, quasi quisquam suscipit tempore temporibus ullam, vel? Dolore est illo mollitia
                optio quisquam quod sequi!
        </div>


{% endblock %}


