<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul>
                    <li>Sorties</li>
                    <li>Evasions</li>
                    <li>Participants</li>
                    <li>Participants</li>
                    <li>Participants</li>
                </ul>
            </div>
            <div class="col-sm">

                <ul>
                    <li>Qui sommes nous</li>
                    <li>Nous conacter</li>
                    <li>Sorties</li>
                    <li>Mentions Légales</li>
                    <li>Contrat General d'Utilisation</li>
                </ul>
            </div>




            <div class="col-sm">
                <ul>
                    <li>Sorties</li>
                    <li>Evasions</li>
                    <li>Participants</li>
                    <li>Participants</li>
                    <li>Participants</li>
                </ul>
            </div>

            <div class="col-sm">
                <ul>
                    <li>Sorties</li>
                    <li>Evasions</li>
                    <li>Participants</li>
                    <li>Participants</li>
                    <li>Participants</li>
                </ul>
            </div>

            <div class="col-sm social">
                <div class="fa-2xl fa-brands fa-facebook-square"></div>
                <div class="fa-2xl fa-brands fa-twitter-square"> </div>

            </div>
        </div>
    </div>

</footer>