<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm mt-lg-4">
                <ul>

                    <li>Evasions</li>
                    <li>Publicité</li>
                    <li>Participants</li>
                    <li>Vie privée / cookies</li>
                </ul>
            </div>
            <div class="col-sm mt-lg-4">
                <ul>
                    <li>Qui sommes nous</li>
                    <li>Nous conacter</li>
                    <li>Mentions Légales</li>
                    <li>Contrat General d'Utilisation</li>
                </ul>
            </div>
            <div class="col-sm mt-lg-4">
                <ul>

                    <li>Charte de bonne conduite</li>
                    <li>Notre équipe</li>
                    <li>Sorties Nocturnes</li>
                    <li>Aide</li>
                </ul>
            </div>
            <div class="col-sm mt-lg-4">
                <ul>

                    <li>La Communauté</li>
                    <li>Nous rejoindre</li>
                    <li>Avis utilisateurs</li>
                    <li>Statut de nos services</li>
                </ul>
            </div>
            <div class="col-sm social">
                <div class="fa-2xl fa-brands fa-facebook-square"></div>
                <div class="fa-2xl fa-brands fa-twitter-square"> </div>
                <div class="fa-2xl fa-brands fa-bitcoin"> </div>
                <div class="fa-2xl fa-brands fa-linkedin-in"> </div>

            </div>
        </div>
    </div>
</footer>